<configuration>
  <appSettings>
    <add key="Octopus.Action.EnvironmentName" value="#{Octopus.Environment.Name}" />
    <add key="Octopus.Action.TenantName" value="#{Octopus.Deployment.Tenant.Name}" />
    <add key="Octopus.Action.Schedule" value="WaitForDeployment" />
    <add key="Octopus.Action.SnapshotVariables" value="False" />
    <add key="Octopus.Action.GuidedFailure" value="Default" />
    <add key="Octopus.Action.StepsToSkip" value="" />
    <add key="Octopus.Action.FormValues" value="" />
    <add key="Octopus.Action.PreDeployScript" value="" />
    <add key="Octopus.Action.PostDeployScript" value="" />
  </appSettings>
</configuration>